/* RESET */

body, p, h1, h2, ul, li {
	margin: 0px;
	padding: 0px;
}

li {
	list-style: none;
}

html {
	scroll-behavior: smooth;
}

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: currentColor;
}

/* Standard */

h1, h2, h3, h4, h5, h6, p, li {
	font-family: 'Open Sans', sans-serif;
	letter-spacing: 1px;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	color: #252525;
}

p {
	color: #757575;
}

li {
	color: #FFF;
}

.container {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

.title {
	font-family: 'Montserrat', sans-serif;
	font-size: 2em;
	font-weight: bold;
	margin-top: 60px;
}

.subtitle {
	font-size: 1.125em;
	margin-bottom: 15px;
}

/* Header */

.main {
	position: relative;
	width: 100%;
	height: 100vh;
	background-image: url(../img/bg_header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.main:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../img/pattern.png);
	background-repeat: repeat;
	background-color: rgba(33, 33, 33, .8);
}

.main-content {
	position: relative;
	width: 100%;
	height: 100%;
}

/* Menu */

.menu {
	width: 100%;
	text-align: center;
	background: rgba(0, 0, 0, .2)
}

.menu ul li {
	display: inline-block;
	padding: 15px;
	transition: 0.3s;
}

.menu ul li:hover {
	color: #c5c5c5
}

.menu a {
	padding: 5px;
}


/* Main Header */

.main-header {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.main-header img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 100px;
	background-color: #FFFFFF;
	border-radius: 50%;
	border: 3px solid #FFF;
}

.main-header h2 {
	color: #FFF;
	font-size: 3.125em;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
}

.main-header h3 {
	font-size: 1.125em;
	text-align: center;
	color: #FFF;
}

.button {
	width: 150px;
	height: 40px;
	background: #2e4e5c;
	margin: 0 auto;
	border-radius: 4px;
	margin-top: 60px;
	margin-bottom: 60px;
}

.button p {
	font-size: 0.875em;
	color: #FFF;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
}

.arrow-icon i {
	position: absolute;
	display: block;
	font-size: 2em;
	top: 90%;
	color: #FFF;
	right: 50%;
	left: 50%;
}

/* About */

.about {
	margin: 0 10px;
}

.about-items {
	position: relative;
	display: table;
	margin: 0 auto;
}

.about-items span {
	font-weight: bold;
}

.about-items i {
	color: #757575;
	float: left;
}

.about-items-1 {
	width: 300px;
	float: left;
	margin-top: 15px;
	text-align: start;
}

.about-items-1 i {
	width: 30px;
	text-align: center;
}

.about-items-2 {
	width: 300px;
	margin-top: 15px;
	overflow: hidden;
	text-align: start;
}

.about-items-2 i {
	width: 30px;
	text-align: center;
}

/* Services */

.services {
	text-align: center;
	background: #e5e5e5;
}

.services h1 {
	display: inline-block;
	margin-top: 60px;
}

.services p {
	display: inline-block;
	margin-bottom: 60px;
}

.services-items i {
	color: #2e4e5c;
	font-size: 2.625em;
	margin-top: 20px;
	margin-bottom: 10px;
}

.services-items ul li {
	display: inline-block;
	max-width: 297px;
	margin: 10px 10px;
	background: #FFF;
	border: #c5c5c5 solid 1px;
	border-radius: 3px;
	margin: a;
}

.services-items ul li:last-child {
	margin-bottom: 60px;
}

.services-items ul li h3 {
	margin-bottom: 10px;
}

.services-items ul li p {
	padding: 0px 10px;
}

/* Portfolio */
.portfolio {
	display: block;
	text-align: center;
}
.portfolio h1 {
	margin-top: 60px;
}

/* Contact */

.contact {
	text-align: center;
	background: #e5e5e5;
}

.contact h1 {
	display: inline-block;
	margin-top: 60px;
}

.contact p {
	display: inline-block;
	margin-bottom: 60px;
}

.contact p a {
	font-weight: bold;
}

/* Footer */

.sociais {
	text-align: center;
	background-color: #252525;
}

.sociais i {
	margin-top: 15px;
	margin-left: 10px;
	font-size: 2.25em;
	color: #757575;
	transition: 0.3s;
}

.sociais i:hover {
	color: #858585;
}

.copyright p {
	font-size: 0.875em;
	letter-spacing: 0.5px;
	color: #757575;
	background-color: #252525;
	padding: 15px 0;
	text-align: center;
}

.copyright a {
	transition: 0.3s;
}

.copyright a:hover {
	color: #858585;
}